@model List<TP3.EF.MVC.Models.ShippersView>

@{
    ViewBag.Title = "";
}

<h2>Shippers ABM</h2>

<p>
    <b>@Html.ActionLink("Create New Shipper", "Create")</b> 
   
</p>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Phone</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipperID)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID }, new { onclick = "return confirm('Esta seguro de borrar este Shipper?')" }) |
            @Html.ActionLink("Edit", "Edit", new {id = item.ShipperID})
        </td>
    </tr>
}

</table>


